<a href="https://colab.research.google.com/github/satishgc227/Derby-project/blob/main/Real_otto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import sys

In [6]:
df=pd.read_csv("/content/traian csv.csv")

In [7]:
df.dropna()

        session      aid            ts    type
0       8000000   766953  1.660420e+12  clicks
1       8000000  1586093  1.660420e+12  clicks
2       8000000  1586093  1.660420e+12  clicks
3       8000000   682970  1.660420e+12  clicks
4       8000000   799794  1.660420e+12  clicks
...         ...      ...           ...     ...
148607  8013521  1510693  1.660420e+12  clicks
148608  8013521   223551  1.660420e+12  clicks
148609  8013521  1510693  1.660420e+12  clicks
148610  8013521   536955  1.660420e+12  clicks
148611  8013521  1510693  1.660420e+12  clicks

[148612 rows x 4 columns]

In [9]:
df=df[['session','type','aid']]

In [19]:
df.rename({'type':'types'},axis=1,inplace=True)

In [13]:
df.dropna()

        session    type      aid
0       8000000  clicks   766953
1       8000000  clicks  1586093
2       8000000  clicks  1586093
3       8000000  clicks   682970
4       8000000  clicks   799794
...         ...     ...      ...
148607  8013521  clicks  1510693
148608  8013521  clicks   223551
148609  8013521  clicks  1510693
148610  8013521  clicks   536955
148611  8013521  clicks  1510693

[148612 rows x 3 columns]

In [20]:
df.replace({'clicks':0 , 'carts':1 , 'orders':2},inplace=True)

In [17]:
df.dropna()

        session    type      aid
0       8000000  clicks   766953
1       8000000  clicks  1586093
2       8000000  clicks  1586093
3       8000000  clicks   682970
4       8000000  clicks   799794
...         ...     ...      ...
148607  8013521  clicks  1510693
148608  8013521  clicks   223551
148609  8013521  clicks  1510693
148610  8013521  clicks   536955
148611  8013521  clicks  1510693

[148612 rows x 3 columns]

In [78]:
df.isin([NaN]).any().any()

NameError: ignored

In [64]:
df['session'].nunique()

13522

In [68]:
# x_train,x_test,y_train,y_test=train_test_split(df[['userId','movieId']],df[['rating']],test_size=0.20,random_state=42)
users = df.session.unique()
movies = df.types.unique()

userid2idx = {o:i for i,o in enumerate(users)}
movieid2idx = {o:i for i,o in enumerate(movies)}

In [80]:
# df['session'] = df['session'].apply(lambda x: userid2idx[x])
df['types'] = df['types'].apply(lambda x: movieid2idx[x])
# split = np.random.rand(len(df)) < 0.8
# train = df[split]
# valid = df[~split]
# print(train.shape , valid.shape)

KeyError: ignored

In [24]:
from sklearn.model_selection import train_test_split

In [54]:
X_train , X_val ,y_train , y_val =train_test_split(df[['session','types']],df['aid'] ,test_size=0.3 , random_state = 43)

In [57]:
y_train.values

array([ 321367, 1803322,   76751, ...,  915464,  147278, 1106913])

In [26]:
#Creating an embedding layer for session

from keras.models import load_model
from sklearn.model_selection import train_test_split
from keras.layers import Input, Embedding, Flatten, Dot, Dense, Concatenate
from keras.models import Model

In [28]:
n_session=len(df['session'].unique())
n_type=len(df['types'].unique())

n_latent_factors=10

In [29]:
session_input=Input(shape=(1,),name='session_input')
session_embedding=Embedding(n_session,n_latent_factors,name='session_embedding')(session_input)
session_vec=Flatten(name='session_flatten')(session_embedding)

In [31]:
type_input=Input(shape=(1,),name='type_input')
type_embedding=Embedding(n_type,n_latent_factors,name='type_embedding')(type_input)
type_vec=Flatten(name='type_flatten')(type_embedding)

In [40]:
from keras.layers import dot
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

import keras
from keras import backend as K
from keras.models import Sequential

from keras.optimizers import Adam,SGD,Adagrad,Adadelta,RMSprop
from keras.utils import to_categorical
from keras.utils.vis_utils import model_to_dot
from keras.callbacks import ReduceLROnPlateau

In [41]:
# concatenate features
sim=dot([session_vec,type_vec],name='Simalarity-Dot-Product',axes=1)
model =keras.models.Model([session_input, type_input],sim)

In [42]:
# Create model and compile it

model.compile(optimizer=Adam(lr=1e-4),loss='mse')

/usr/local/lib/python3.7/dist-packages/keras/optimizers/optimizer_v2/adam.py:110: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [66]:
history = model.fit([df.session, df.types], df.aid, epochs=1)

InvalidArgumentError: ignored

In [67]:
History = model.fit([X_train.session,X_train.types],y_train, batch_size=1000,
                              epochs =5 , validation_data = ([X_val.session,X_val.types],y_val))

Epoch 1/5

InvalidArgumentError: ignored